{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% block css %}
input {
  border: 1px solid #ced4da !important;
}

{% endblock css %}

{% block content %}
<div class="container">
  <div class="row pt-5 ps-2 pe-2">
    <div class="col-md-6 m-0 m-auto offset-3">

      <!-- Social account providers section -->
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      
        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
        <h2 >{% trans "Sign up" %}</h2>
        <p>
          {% blocktrans %}
            If you have not created an account yet, then please 
            <a href="{{ signup_url }}" class="text-primary">sign up</a> first.
          {% endblocktrans %}
        </p>
      {% endif %}

      <!-- Standard sign-in form -->
      <p>{% blocktrans %}Create an account <a href="/accounts/signup/">sign up</a>.{% endblocktrans %}</p>

      <h2 class="mb-4 mt-3">{% trans "Sign in with your account" %}</h2>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">
          {% trans "Forgot Password?" %}
        </a>
        <button class="btn btn-primary" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
      
      <!-- Optional spacing section -->
      <div>
        <div style="padding: 10%;"></div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
