{% load cart_template_tags %}
{% load category_template_tags %}
<header>
	<div class="text-dark p-2" style="background-color: rgb(173, 20, 243);">
		<div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
		<div class="mb-3 mb-md-0">
			<a href="https://web.facebook.com/" target="_blank" class="topbar-social-item fab fa-facebook me-3"></a>
			<a href="https://www.instagram.com/" target="_blank" class="topbar-social-item fab fa-instagram me-3"></a>
			<a href="https://x.com/" target="_blank" class="topbar-social-item fab fa-twitter me-3"></a>
			<a href="https://www.youtube.com/" target="_blank" class="topbar-social-item fab fa-youtube"></a>
		</div>
	
		<span class="text-center text-md-left" style="color: white; font-weight: bold;">
			Free shipping for standard order over $1599.99
		</span>
	</div>
	</div>
	
	<nav class="navbar navbar-expand-lg bg-light pt-3 pb-3 sticky-top" >
		<div class="container">
			<a class="navbar-brand" style="font-weight: bold;" href="/">Tech Giants</a>
			<div class="d-flex align-items-center ">
				<!-- Shopping Cart Icon - visible on lg and above -->
				<div class="t-ex_re">
					
					{% if request.user.is_authenticated %}
					<li class="nav-item pe-3 ps-3">
						<a class="btn btn-dark" href="/accounts/logout/">Logout</a>
					</li>
					{% else %}
					<div class="dropdown">
						<a class="nav-link pb-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
								<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
								<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
							  </svg>
						</a>
						<ul class="dropdown-menu" style="left: -100px;">
							<li><a class="dropdown-item" href="/accounts/login/">Login</a></li>
							<li><a class="dropdown-item" href="/accounts/signup/">SignUp</a></li>
						</ul>
					</div>
					{% endif %}
				</div>
				<div class="t-ex_re me-2 ">
					{% if request.user.is_authenticated %}
					<a href="{% url 'core:order-summary' %}" class="position-relative text-dark ms-3 me-3 mb-4">
						<i class="fa fa-shopping-cart"></i>
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{{ request.user|cart_item_count }}
							<span class="visually-hidden">unread messages</span>
						</span>
					</a>
					{% else %}
					<a href="#" class="icon-link text-dark ms-2 me-2 mb-4" >
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
							<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
						  </svg>
					</a>
					{% endif %}
				</div>
				
				<!-- Navbar Toggler for smaller screens -->
				<button class="navbar-toggler border p-0" type="button" data-bs-toggle="collapse"
					style="width: 40px; height: 40px;" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-list"
						viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
					</svg>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav m-auto mb-2 mb-lg-0 tech-res">
					<li class="nav-item pe-3 ps-3">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item pe-3 ps-3">
						<a class="nav-link active" href="/shop/">Shop</a>
					</li>
					<li class="nav-item pe-3 ps-3 dropdown">
						<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Categories
						</a>
						<ul class="dropdown-menu ">
							<li><a class="dropdown-item" href="/category/phone/">Phones</a></li>
							<li><a class="dropdown-item" href="/category/laptop/">Laptops</a></li>

						</ul>
					</li>
					<li class="nav-item pe-3 ps-3">
						<a class="nav-link active" href="/contact/">Contact</a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item pe-3 ps-3">
						<a class="nav-link active" href="/orders/">orders</a>
					</li>
					{% endif %}

				</ul>
				<div class="d-lg-flex align-items-center d-none"> <!-- Hide for screens smaller than 992px -->
					<div class="dropdown">
						<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-search"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end p-3 shadow-sm" style="width: 300px; border-radius: 8px;">
							<form method="GET" action="{% url 'core:search' %}">
								<div class="mb-3">
									<input type="text" class="form-control form-control-sm pt-3 pb-3" name="q"
										placeholder="Search for products..." aria-label="Search" style="border-radius: 20px;">
								</div>
								<button class="btn btn-dark w-100" type="submit" style="border-radius: 20px;">Search</button>
							</form>
						</ul>
					</div>
				
					<a href="#" class="icon-link mr-3 text-dark ms-3 me-3">
						<i class="fa fa-heart"></i>
					</a>
				
					{% if request.user.is_authenticated %}
					<a href="{% url 'core:order-summary' %}" class="position-relative mr-3 text-dark ms-3 me-3">
						<i class="fa fa-shopping-cart"></i>
						<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{{ request.user|cart_item_count }}
							<span class="visually-hidden">unread messages</span>
						</span>
					</a>
					{% else %}
					<a href="#" class="icon-link mr-3 text-dark ms-3 me-3">
						<i class="fa fa-shopping-cart"></i>
					</a>
					{% endif %}
				
					{% if request.user.is_authenticated %}
					<li class="nav-item pe-3 ps-3">
						<a class="btn btn-dark" href="{% url 'account_logout' %}">Logout</a>
					</li>
					{% else %}
					<div class="dropdown ms-4">
						<a class="btn btn-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Login
						</a>
						<ul class="dropdown-menu" style="left: -100px;">
							<li><a class="dropdown-item" href="/accounts/login/">Login</a></li>
							<li><a class="dropdown-item" href="/accounts/signup/">SignUp</a></li>
						</ul>
					</div>
					{% endif %}
				</div>
				
			</div>
		</div>
	</nav>
</header>